:root {
  --primary: #ab092f;
  --secondary: #002d51;
  --font-sm: 12px;
  --font-md: 24px;
  --font-lg: 36px;
  --font-xl: 48px;
  --lg: 1200px;
  --md: 900px;
  --sm: 560px;
  --xs: 320px;
}
Epipla_Diakosmisi_AE {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  font-size: var(--font-sm);
  font-family: sans-serif;
}
name {
  color: var(--primary);
  font-size: var(--font-md);
  font-weight: bold;
  padding-top: 10vh;
  margin-bottom: 2rem;
  text-decoration: underline;
}

stores_list {
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: #ab092f;
  left: 0;
  top: 0;
  flex-wrap: wrap;
}
store::after {
  content: attr(name);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}
product_categories {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 980px) {
  product_categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px) {
  product_categories {
    grid-template-columns: repeat(1, 1fr);
  }
  store::after {
    font-size: 12px;
  }
}
product_type::before {
  content: attr(prod_class_id);
  margin-right: 5px;
}
product_type {
  display: list-item;
  font-size: 16px;
  /* width: 95%; */
}
product_type:hover {
  color: var(--secondary);
  /* font-weight: bold; */
  background: var(--secondary);
  color: aliceblue;
}
room_classification {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

room_class {
  width: 120px;
  text-align: center;
  padding: 12px;
  margin: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

room_class:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}
/* contact_details {
  display: grid;
  grid-template-columns: 100% repeat(2, 1fr);
} */
Headquarters::before {
  width: 100%;
  text-align: center;
  content: "Headquarters";
  font-weight: bold;
  font-size: var(--font-md);
  font-family: sans-serif;
  color: #ab092f;
  text-decoration: underline;
  margin-bottom: 2rem;
  margin-top: 5rem;
}
Headquarters {
  display: flex;
  flex-direction: column;
  margin: 12px;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
}

Headquarters::after {
  content: "Shop Stores";
  width: 100%;
  margin-top: 5rem;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  color: #ab092f;
  font-family: sans-serif;
}
stores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
}
@media screen and (max-width: 1280px) {
  stores {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 680px) {
  stores {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* shop_store::before {
  content: "Store";
  color: var(--secondary);
} */
shop_store {
  display: flex;
  flex-direction: column;
  margin: 12px;
  font-size: inherit;
}
address::before {
  content: "Address:";
  font-weight: bold;
  color: var(--primary);
}
tel::before {
  content: "Tel:";
  font-weight: bold;
  color: var(--primary);
}
email::before {
  content: "Email:";
  font-weight: bold;
  color: var(--primary);
}
store_hours::before {
  content: "Ωράρια";
  text-align: center;
  display: table-caption;
  font-weight: bold;
  width: 100%;
  font-size: 24px;
  color: #ab092f;
  text-decoration: underline;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
store_hours {
  /* width: 100%; */
  display: table;
  text-align: center;
  /* flex-direction: row; */
  font-size: medium;
}
Day {
  display: table-cell;
  /* flex-direction: column; */
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}
Timing {
  display: block;
  width: 100%;
  font-weight: 100;
}
Services::before {
  width: 100%;
  content: "Services";
  font-size: 24px;
  font-weight: bold;
  color: #ab092f;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
Services {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

charges_Ath_Th::before {
  content: "For Athens:";
  text-align: end;
  font-weight: bold;
  font-size: 16px;
  margin-right: 1rem;
  width: 10%;
}
charges_Ath_Th {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

shipping_Charges {
  width: 100%;
}
charges_other_places::before {
  content: "For other places:";
  text-align: end;
  font-weight: bold;
  font-size: 16px;
  margin-right: 1rem;
  width: 10%;
}

charges_other_places {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

shipValue::before {
  content: attr(ship_weight_category);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
shipValue {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
  padding: 1rem;
  font-size: 16px;
  border: 1px solid black;
}
assValue::before {
  content: attr(ass_category);
  font-weight: bold;
}

assValue {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
}
Assembly_Charges {
  display: flex;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

Assembly_Charges::before {
  content: "Assembly Charges: ";
  width: 10%;
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  margin-right: 1rem;
}

DesValue::before {
  content: attr(Des_category);
  font-weight: bold;
}

DesValue {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
Interior_Design_Charges {
  display: flex;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

Interior_Design_Charges::before {
  width: 10%;
  content: "Interior Design Charges: ";
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  margin-right: 1rem;
}

product_list::before {
  content: "Products";
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  color: #ab092f;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 100%;
}
product_list {
  display: flex;
  flex-wrap: wrap;
}

product {
  border: 1px solid black;
  padding: 1rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  box-sizing: border-box;
}
@media screen and (width <= 680px) {
  product {
    width: 33.3%;
    font-size: 14px;
  }
}
@media screen and (width <= 500px) {
  product {
    width: 50%;
    font-size: 14px;
  }
}
@media screen and (width <= 330px) {
  product {
    width: 100%;
    font-size: 13px;
  }
}

product::before {
  content: attr(product_id);
  font-weight: bold;
  color: #ab092f;
  margin-right: 1rem;
  font-size: 24px;
  /* content: attr(prod_class_id); */
}
product-identification::before {
  content: "Product Code: ";
  font-weight: bold;
  color: #002d51;
}
product-identification::after {
  content: attr(product_code);
}
store_availability::before {
  content: "Store availability: ";
  color: #002d51;
  font-weight: bold;
}
quantity::after {
  content: attr(store_id);
  margin-left: 1rem;
  font-weight: 100;
}
quantity {
  font-weight: bold;
  display: list-item;
  margin-left: 2rem;
}
quantity::before {
  content: " x";
  font-weight: bold;
}
store_availability {
  display: flex;
  flex-direction: column;
}

product_descr::before {
  content: "Product description: ";
  color: #002d51;
  font-weight: bold;
}
product_characteristics {
  display: flex;
  flex-direction: column;
}
manufacturer_country::before {
  content: "Manufacturer: ";
  color: #002d51;
  font-weight: bold;
}
weight::before {
  content: "Weight: ";
  color: #002d51;
  font-weight: bold;
}

weight::after {
  content: attr(unit_weight);
}
material::before {
  content: "Material: ";
  color: #002d51;
  font-weight: bold;
}

included::before {
  content: "Included: ";
  color: #002d51;
  font-weight: bold;
}

not_included::before {
  content: "Not included: ";
  color: #002d51;
  font-weight: bold;
}

color::before {
  content: "Color: ";
  color: #002d51;
  font-weight: bold;
}

Dimensions::before {
  content: "Dimensions: ";
  color: #002d51;
  font-weight: bold;
}

Dimensions {
  display: flex;
  flex-direction: column;
}
/* Dimensions::after {
  content: attr(assembled);
} */
length {
  display: flex;
}
length::before {
  content: "length: ";
  font-weight: bold;
  display: list-item;
  margin-left: 2rem;
}
width {
  display: flex;
}
width::before {
  content: "width: ";
  font-weight: bold;
  display: list-item;
  margin-left: 2rem;
}

depth {
  display: flex;
}
depth::before {
  content: "depth: ";
  font-weight: bold;
  display: list-item;
  margin-left: 2rem;
}
height {
  display: flex;
}
height::before {
  content: "height: ";
  font-weight: bold;
  display: list-item;
  margin-left: 2rem;
}
@media screen and (max-width: 560px) {
  store_hours {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  Day {
    display: block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
  }
  store_hours::before {
    content: "Ωραρια:";
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* width: 100%; */
  }
}
@media screen and (max-width: 320px) {
  store_hours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
